html {
	font-size: 16px;
}
body {
	font-family: monospace;
	background: #000;
	color: #fff;
  max-width: 720px;
  margin: 0 auto 3em auto;
}
.month-names {
  display: flex;
  align-items: flex-end;
  position: fixed;
  background-color: #000;
  height: 3.5em;
}
.months {
  display: flex;
  padding-top: 3.5em;
}
.month-name {
  display: none;
}
.month, .month-names > div {
	min-width: 60px;
	text-align: center;
}
.day {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
  margin: 10px auto 10px auto;
  cursor: pointer;
}
.selected {
	color: #000;
	background-color: #dcd0ff;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 1.5rem;
    min-width: 720px;
    padding: 0 1em;
	}
  .day {
    width: 45px;
    height: 45px;
  }
}