body {
	display: flex;
	font-family: monospace;
	background: #000;
	color: #fff;
}
.month {
	width: 8.333%;
	text-align: center;
	margin-top: 1rem;
}
.day {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
  margin: 10px auto 10px auto;
  cursor: pointer;
}
.selected {
	color: #000;
	background-color: #fff;
}